In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
xls = pd.ExcelFile('../data/raw/Book1.xlsx')
print(xls.sheet_names)

df_nacl = pd.read_excel(xls, xls.sheet_names[0])
df_licl = pd.read_excel(xls, xls.sheet_names[1])
df_cscl = pd.read_excel(xls, xls.sheet_names[2])
df_kcl = pd.read_excel(xls, xls.sheet_names[3])
df_cscl_kcl = pd.read_excel(xls, xls.sheet_names[4])

['0,1M NaCl', '0,1M LiCl', '0,1M CsCl', '0,1M KCl', '0,1M CsCl + 0,1M KCl']

### 0.1M NaCl dataframe

In [3]:
df_nacl

,Time,pH,Conductivity,pH.1,Conductivity.1,pH.2,Conductivity.2
0,h,NaN,mS/cm,NaN,mS/cm,NaN,mS/cm
1,NaN,Feed,Feed,Premeate 1,Premeate 1,Premeate 2,Premeate 2
2,0.008333,11.29,9.3387,11.23,9.3875,11.4,9.4841
3,0.016667,11.29,9.3387,11.23,9.3875,11.4,9.4841
4,0.025,11.29,9.3387,11.23,9.3875,11.4,9.4877
...,...,...,...,...,...,...,...
2574,21.441667,2,25.2164,10.99,10.581,10.96,9.8457
2575,21.45,2,25.2526,10.99,10.581,10.96,9.8493
2576,21.458333,2,25.2164,10.99,10.581,10.96,9.8565
2577,21.466667,2,25.2526,10.99,10.6172,10.95,9.8601
2578,21.475,2,25.2164,10.99,10.6172,10.95,9.8638

##### Cut first 2 rows

In [4]:
df_nacl = df_nacl.loc[2:]
df_nacl = df_nacl.dropna(axis=0)

##### Get only inputs and outputs for model

In [5]:
X_data_1 = df_nacl['Conductivity.1'].values
X_data_2 = df_nacl['Conductivity.2'].values
y_data = df_nacl['pH'].values
X_train_1, X_test_1, X_train_2, X_test_2, y_train, y_test = train_test_split(X_data_1, X_data_2, y_data, test_size=0.2)

##### Create dataframe

In [6]:
df_nacl_final_train = pd.DataFrame(data={
    'Conductivity_premeate_1': X_train_1,
    'Conductivity_premeate_2': X_train_2,
    'pH_feed': y_train
})

df_nacl_final_test = pd.DataFrame(data={
    'Conductivity_premeate_1': X_test_1,
    'Conductivity_premeate_2': X_test_2,
    'pH_feed': y_test
})

In [7]:
df_nacl_final_train

     Conductivity_premeate_1 Conductivity_premeate_2 pH_feed
0                     9.0258                  9.4262       2
1                     9.3513                  9.4298    2.16
2                     9.3513                  9.4262       2
3                     9.3513                  9.4551    5.63
4                     9.3151                  9.4407       2
...                      ...                     ...     ...
2056                  9.3513                  9.4515    4.73
2057                  9.2428                  9.4407       2
2058                  9.3513                  9.4371       2
2059                  9.3513                  9.4262       2
2060                  10.581                  9.8204       2

[2061 rows x 3 columns]

##### Save dataframe

In [8]:
df_nacl_final_train.to_csv('../data/processed/data_nacl_train.csv', index=False)
df_nacl_final_test.to_csv('../data/processed/data_nacl_test.csv', index=False)

### 0.1M LiCl dataframe

In [9]:
df_licl

,Time,pH,Conductivity,pH.1,Conductivity.1,pH.2,Conductivity.2
0,h,NaN,mS/cm,NaN,mS/cm,NaN,mS/cm
1,NaN,Feed,Feed,Premeate 1,Premeate 1,Premeate 2,Premeate 2
2,0.008333,11.48,9.0217,11.29,8.9535,11.33,8.5945
3,0.016667,11.49,9.0217,11.29,8.9896,11.33,8.5945
4,0.025,11.48,8.9855,11.29,8.9535,11.33,8.5728
...,...,...,...,...,...,...,...
627,5.216667,1.78,20.9933,11.28,8.9173,11.29,8.5837
628,5.225,1.78,20.9933,11.28,8.9173,11.29,8.5837
629,5.233333,1.78,20.9933,11.28,8.9173,11.29,8.5837
630,5.241667,1.78,20.9933,11.28,8.9535,11.29,8.5837
631,5.25,1.78,20.9933,11.28,8.9173,11.29,8.5837

In [10]:
df_licl = df_licl.loc[2:]
df_licl = df_licl.dropna(axis=0)

In [11]:
X_data_1 = df_licl['Conductivity.1'].values
X_data_2 = df_licl['Conductivity.2'].values
y_data = df_licl['pH'].values
X_train_1, X_test_1, X_train_2, X_test_2, y_train, y_test = train_test_split(X_data_1, X_data_2, y_data, test_size=0.2)

In [12]:
df_licl_final_train = pd.DataFrame(data={
    'Conductivity_premeate_1': X_train_1,
    'Conductivity_premeate_2': X_train_2,
    'pH_feed': y_train
})

df_licl_final_test = pd.DataFrame(data={
    'Conductivity_premeate_1': X_test_1,
    'Conductivity_premeate_2': X_test_2,
    'pH_feed': y_test
})

In [13]:
df_licl_final_train

    Conductivity_premeate_1 Conductivity_premeate_2 pH_feed
0                    8.9535                  8.5945     6.7
1                    8.9173                  8.5909    2.07
2                    8.9535                  8.5837    1.78
3                    8.9535                  8.5873    3.08
4                    8.9535                  8.6054   11.35
..                      ...                     ...     ...
499                  8.9535                  8.6054   11.47
500                  8.9535                  8.6054   11.47
501                  8.9535                  8.6054   11.45
502                  8.9173                  8.5837    1.78
503                  8.9535                  8.5728   11.48

[504 rows x 3 columns]

In [14]:
df_licl_final_train.to_csv('../data/processed/data_licl_train.csv', index=False)
df_licl_final_test.to_csv('../data/processed/data_licl_test.csv', index=False)

### 0.1M CsCl dataframe

In [15]:
df_cscl

,Time,pH,Conductivity,pH.1,Conductivity.1,pH.2,Conductivity.2,pH.3,Conductivity.3
0,h,NaN,mS/cm,NaN,mS/cm,NaN,mS/cm,NaN,mS/cm
1,NaN,Feed,Feed,Premeate 1,Premeate 1,Premeate 2,Premeate 2,Premeate 3,Premeate 3
2,0.008333,12,8.8195,11.87,8.7003,11.93,8.7934,11.91,9.3901
3,0.016667,12,8.8195,11.87,8.7003,11.93,8.8115,11.91,9.3901
4,0.025,12,8.8195,11.87,8.7003,11.94,8.7826,11.91,9.3901
...,...,...,...,...,...,...,...,...,...
8295,69.116667,2,16.8849,1.92,9.8215,2.06,9.6866,2.21,9.9035
8296,69.125,2,16.8849,1.92,9.8215,2.05,9.683,2.21,9.9035
8297,69.133333,2,16.8849,1.92,9.8215,2.05,9.6866,2.21,9.9035
8298,69.141667,2,16.8849,1.92,9.8215,2.05,9.6866,2.21,9.9035
8299,69.15,2,16.8849,1.92,9.8215,2.05,9.6866,2.21,9.9035

In [16]:
df_cscl = df_cscl.loc[2:]
df_cscl = df_cscl.dropna(axis=0)

In [17]:
X_data_1 = df_cscl['Conductivity.1'].values
X_data_2 = df_cscl['Conductivity.2'].values
X_data_3 = df_cscl['Conductivity.3'].values
y_data = df_cscl['pH'].values
X_train_1, X_test_1, X_train_2, X_test_2, X_train_3, X_test_3, y_train, y_test = train_test_split(X_data_1, X_data_2, X_data_3, y_data, test_size=0.2)

In [18]:
df_cscl_final_train = pd.DataFrame(data={
    'Conductivity_premeate_1': X_train_1,
    'Conductivity_premeate_2': X_train_2,
    'Conductivity_premeate_3': X_train_3,
    'pH_feed': y_train
})

df_cscl_final_test = pd.DataFrame(data={
    'Conductivity_premeate_1': X_test_1,
    'Conductivity_premeate_2': X_test_2,
    'Conductivity_premeate_3': X_test_3,
    'pH_feed': y_test
})

In [19]:
df_cscl_final_train

,Conductivity_premeate_1,Conductivity_premeate_2,Conductivity_premeate_3,pH_feed
0,7.3982,8.5728,9.3467,2
1,7.2174,8.4897,9.3322,1.99
2,8.7726,8.3378,8.1317,2
3,9.5683,9.4118,9.4262,2
4,8.6279,8.6451,9.3177,4.03
...,...,...,...,...
6633,6.494,7.4302,8.7102,1.99
6634,8.0131,7.3542,7.0469,2
6635,8.5556,8.034,7.7628,2
6636,6.5664,7.2313,8.5909,1.99
6637,7.4706,6.5985,7.1698,1.99

In [20]:
df_cscl_final_train.to_csv('../data/processed/data_cscl_train.csv', index=False)
df_cscl_final_test.to_csv('../data/processed/data_cscl_test.csv', index=False)

### 0.1 KCl dataframe

In [21]:
df_kcl

           Time    pH Conductivity      pH.1 Conductivity.1
0             h   NaN        mS/cm       NaN          mS/cm
1           NaN  Feed         Feed  Premeate       Premeate
2      0.008333  9.56      13.1343      9.43        12.9555
3      0.016667  9.56      13.1343      9.43        12.9555
4         0.025  9.55      13.1705      9.43        12.9555
...         ...   ...          ...       ...            ...
2354  19.608333   NaN          NaN       NaN            NaN
2355  19.616667   NaN          NaN       NaN            NaN
2356     19.625   NaN          NaN       NaN            NaN
2357  19.633333   NaN          NaN       NaN            NaN
2358  19.641667   NaN          NaN       NaN            NaN

[2359 rows x 5 columns]

In [22]:
df_kcl = df_kcl.loc[2:]
df_kcl = df_kcl.dropna(axis=0)

In [23]:
X_data_1 = df_kcl['Conductivity.1'].values
y_data = df_kcl['pH'].values
X_train_1, X_test_1, y_train, y_test = train_test_split(X_data_1, y_data, test_size=0.2)

In [24]:
df_kcl_final_train = pd.DataFrame(data={
    'Conductivity_premeate_1': X_train_1,
    'pH_feed': y_train
})

df_kcl_final_test = pd.DataFrame(data={
    'Conductivity_premeate_1': X_test_1,
    'pH_feed': y_test
})

In [25]:
df_kcl_final_train

     Conductivity_premeate_1 pH_feed
0                    20.2672    1.96
1                    20.4841    1.96
2                    12.9446    4.13
3                    20.1623    1.96
4                    14.9118    1.95
...                      ...     ...
1862                 20.4841    1.96
1863                 12.9483    4.64
1864                 20.1731    1.96
1865                 20.4914    1.96
1866                 20.4046    1.96

[1867 rows x 2 columns]

In [26]:
df_kcl_final_train.to_csv('../data/processed/data_kcl_train.csv', index=False)
df_kcl_final_test.to_csv('../data/processed/data_kcl_test.csv', index=False)

### 0.1 CsCl + 0.1 KCl dataframe

In [27]:
df_cscl_kcl

           Time     pH Conductivity      pH.1 Conductivity.1
0             h    NaN        mS/cm       NaN          mS/cm
1           NaN   Feed         Feed  Premeate       Premeate
2      0.008333  10.53      24.8747     10.89        23.8546
3      0.016667  10.53      24.8747     10.89        23.8546
4         0.025  10.53      24.8747     10.89        23.8546
...         ...    ...          ...       ...            ...
8243  68.691667    NaN          NaN       NaN            NaN
8244       68.7    NaN          NaN       NaN            NaN
8245  68.708333    NaN          NaN       NaN            NaN
8246  68.716667    NaN          NaN       NaN            NaN
8247     68.725    NaN          NaN       NaN            NaN

[8248 rows x 5 columns]

In [28]:
df_cscl_kcl = df_cscl_kcl.loc[2:]
df_cscl_kcl = df_cscl_kcl.dropna(axis=0)

In [29]:
X_data_1 = df_cscl_kcl['Conductivity.1'].values
y_data = df_cscl_kcl['pH'].values
X_train_1, X_test_1, y_train, y_test = train_test_split(X_data_1, y_data, test_size=0.2)

In [30]:
df_cscl_kcl_final_train = pd.DataFrame(data={
    'Conductivity_premeate_1': X_train_1,
    'pH_feed': y_train
})

df_cscl_kcl_final_test = pd.DataFrame(data={
    'Conductivity_premeate_1': X_test_1,
    'pH_feed': y_test
})

In [31]:
df_cscl_kcl_final_train

     Conductivity_premeate_1 pH_feed
0                    21.7207    2.25
1                    18.6464    2.25
2                    15.0296    2.25
3                    16.6572    2.25
4                    23.5291    2.24
...                      ...     ...
6579                 17.3082    2.25
6580                 22.4079    2.25
6581                 15.0658    2.25
6582                 17.1997    2.25
6583                 15.4637    2.24

[6584 rows x 2 columns]

In [32]:
df_cscl_kcl_final_train.to_csv('../data/processed/data_cscl_kcl_train.csv', index=False)
df_cscl_kcl_final_test.to_csv('../data/processed/data_cscl_kcl_test.csv', index=False)